*,
ul {
  font-family: "Montserrat", sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
}
.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
div.header {
  min-height: 20vh;
  box-shadow: 0px 2px 13px 0px #efefef;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  padding-bottom: 40px;
}
.header-title{
  margin-top: 40px;
}
.info-contaier {
  position: sticky;
  top: 20px;
  right: 0px;
  box-shadow: 1px 1px 5px 5px #efefef;
  min-height: 510px;
  padding: 20px 25px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
li.items {
  border-bottom: 1px solid #efefef;
  padding-bottom: 12px;
}
li.items span {
  font-weight: 600;
}

.footer {
  background-color: rgb(78, 78, 78);
  min-height: 100px;
  color: #72ebd0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
.cyan {
  color: #288a75;
}
.spinner-container{
  width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}